body {
    background-image: url("anime.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

canvas {
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 5px 5px 50px red;
    }
    to {
        box-shadow: 5px 5px 50px rgb(255, 0, 157);
    }
}